@model Restaurant

<section class="panel panel-default">
    <h3 class="panel-heading">@Model.Name</h3>
    <div class="panel-body">
        Cuisine: @Model.Cuisine
    </div>

    @*<td><a href="/home/details/@restaurant.Id">A HTML Tag</a></td>
        <td>@Html.ActionLink("ActionLink", "Details", new { id = restaurant.Id })</td>
        <td><a asp-action="Details" asp-route-id="@restaurant.Id">Tag helper</a></td>*@
    <div class="panel-footer">
        <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.Id">More</a>
        <a class="btn btn-default" asp-page="/Restaurants/Edit" asp-route-id="@Model.Id">Edit</a>
    </div>
</section>