@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Hello !</h1>
<h2>All Restaurants</h2>
<table>
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td><a href="/home/details/@restaurant.Id">A HTML Tag</a></td>
            <td>@Html.ActionLink("ActionLink", "Details", new { id = restaurant.Id })</td>
            <td><a asp-action="Details" asp-route-id="@restaurant.Id">Tag helper</a></td>
        </tr>
    }
</table>
<a asp-action="Create">Add Restaurant</a>

@section footer {
    @Model.CurrentMessage
}